/* Custom styles */
body {
    font-family: 'DM Sans', sans-serif;
    background-color: #f3f4f6; /* Light gray background for main content area */
}
/* Hide sections by default */
.page-section {
    display: none;
}
/* Custom modal styles */
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
.project-card-image {
    aspect-ratio: 16 / 9;
    object-fit: contain; /* Changed from 'cover' to 'contain' */
    background-color: #e5e7eb; /* Added a light gray background for letterboxing */
}